@media screen and (min-width:1100px) {
  .wy-nav-content-wrap {
  margin-left: auto;
 }
 .wy-nav-content {
  margin: auto;
 }
}

@media screen and (min-width:769px) and (max-width:1420px) {
 .wy-nav-content-wrap {
  margin-left: 300px;
 }
 .wy-nav-content {
  margin: 0;
 }
}
